<div class="overflow-hidden h-screen absolute">
    
    <div class="w-1/12 flex justify-center rounded-xl fixed m-5 ml-8 p-1 bg-gray-700 z-1 xl:hidden">
        <img src="https://www.clipartmax.com/png/middle/36-365828_navbar-toggle-icon-menu-hamburger-png-white.png"
            (click)="sideBar()" alt="">
    </div>


    <div (mouseover)="onMouseOver()" (mouseout)="onMouseOut()"
        [ngStyle]="hovered ? {'width': 20 + 'rem'} : {'width': largura + 'rem'}"
        class=" bg-[#220424] z-0 h-full duration-300 border-r-4 overflow-hidden" id="sideBar">

        <div class="flex flex-col items-center overflow-hidden">
            <div class="flex justify-center pt-5">
                <img src="./../../../../../assets/imagens/logo.png" class="w-20 xl:w-16 2xl:w-24" alt="">
            </div>

            <div class="h-[5rem] pt-2">
                <div [ngClass]="revela ? 'visible' : 'hidden'">
                    <p id="conecta-word" class="text-white text-2xl xl:text-3xl 2xl:text-4xl" >CONECTA</p>
                </div>
            </div>
        </div>

        <div class="p-3 h-full flex flex-col gap-2 px-7 xl:px-5 2xl:px-8 overflow-hidden">

            <div class="flex gap-3 items-center cursor-pointer">
                <div class="text-white w-1/5" [ngClass]="largura ? 'visible' : 'hidden'">
                    <i class="pi pi-home text-xl xl:text-3xl 2xl:text-4xl pb-2" style="color: white;"></i>
                </div>
                <div [ngClass]="revela ? 'opacity-100 visible' : 'opacity-0 hidden'" class="flex items-center">
                    <p class="text-white text-xl xl:text-xl 2xl:text-2xl">Home</p>
                </div>
            </div>

            <div class="flex gap-3 items-center cursor-pointer overflow-hidden">
                <div class="text-white w-1/5" [ngClass]="largura ? 'visible' : 'hidden'">
                    <i class="pi pi-plus text-xl xl:text-3xl 2xl:text-4xl pb-2" style="color: white;"></i>
                </div>
                <div [ngClass]="revela ? 'opacity-100 visible' : 'opacity-0 hidden'" class="flex items-center">
                    <p class="text-white text-xl xl:text-xl 2xl:text-2xl">Adicionar</p>
                </div>
            </div>

            <div class="flex gap-3 items-center cursor-pointer  overflow-hidden">
                <div class="text-white w-1/5" [ngClass]="largura ? 'visible' : 'hidden'">
                    <i class="pi pi-cog text-xl xl:text-3xl 2xl:text-4xl pb-2" style="color: white;"></i>
                </div>
                <div [ngClass]="revela ? 'opacity-100 visible' : 'opacity-0 hidden'" class="flex items-center">
                    <p class="text-white text-xl xl:text-xl 2xl:text-2xl w-full">Configurações</p>
                </div>
            </div>

            <div class="flex gap-3 items-center cursor-pointer overflow-hidden">
                <div class="text-white w-1/5" [ngClass]="largura ? 'visible' : 'hidden'">
                    <i class="pi pi-user text-xl xl:text-3xl 2xl:text-4xl pb-2" style="color: white;"></i>
                </div>
                <div [ngClass]="revela ? 'opacity-100 visible' : 'opacity-0 hidden'" class="flex items-center">
                    <p class="text-white text-xl xl:text-xl 2xl:text-2xl">Perfil</p>
                </div>
            </div>

            <div class="flex gap-3 items-center cursor-pointer overflow-hidden">
                <div class="text-white w-1/5" [ngClass]="largura ? 'visible' : 'hidden'">
                    <i class="pi pi-bell text-xl xl:text-3xl 2xl:text-4xl pb-2" style="color: white;"></i>
                </div>
                <div [ngClass]="revela ? 'opacity-100 visible' : 'opacity-0 hidden'" class="flex items-center">
                    <p class="text-white text-xl xl:text-xl 2xl:text-2xl">Notificações</p>
                </div>
            </div>



        </div>

    </div>
</div>