<div>
    <div class="w-1/12 flex justify-center rounded-xl absolute m-5 ml-8 p-1 bg-gray-700 z-1 md:hidden">
        <img src="https://www.clipartmax.com/png/middle/36-365828_navbar-toggle-icon-menu-hamburger-png-white.png"
            (click)="sideBar()" alt="">
    </div>


    <div (mouseover)="onMouseOver()" (mouseout)="onMouseOut()"
        [ngStyle]="hovered ? {'width': 16 + '%'} : {'width': largura + '%'}"
        class=" bg-[#220424] z-0 h-screen duration-300 border-r-4" id="sideBar">

        <div class="flex flex-col items-center">
            <div class="flex justify-center pt-5">
                <img src="./../../../../../assets/imagens/logo.png" class="w-24" alt="">
            </div>

            <div class="pt-4">
                <p id="conecta-word" class="text-white" >CONECTA</p>
            </div>
        </div>


    </div>
</div>