<div class="bg-sidebar h-screen w-1/6">
    <div class="w-full flex justify-center">
        <span>
            <img src="../../../../../assets/imagens/logo.png" class="w-" alt="">
        </span>
        <span>
            <h1>Conecta</h1>
        </span>
    </div>

    <div>

        <div>
            <span>
                <!-- Icone -->
            </span>
            <p></p>
        </div>

        <div>
            <span>
                <!-- Icone -->
            </span>
            <p></p>
        </div>

        <div>
            <span>
                <!-- Icone -->
            </span>
            <p></p>
        </div>

    </div>

    <div>
        <h1>Logout</h1>
    </div>
</div>