@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur:wght@700&display=swap');

#conecta-text-logo{
    color: #E9E9E9;
    font-family: 'Hind Guntur', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 10%;
}





p{
    font-family: 'Hind Guntur', sans-serif;
}