<div class="h-screen w-[100vw] lg:w-[106vw]">
    <div class="flex justify-center">
        <p class="text-teal-50 text-3xl 2xl:text-5xl pt-12 xl:pt-8 2xl:pt-16 font-semibold">
            Gerenciar assinaturas
        </p>
    </div>
    <div class="w-full h-full flex justify-center">
        <div class="w-[80%] lg:w-[70%] h-4/5 mt-10 bg-slate-700/25 rounded-3xl overflow-auto">
            <div class=" lg:flex flex-wrap justify-center">
                <div class="flex flex-col items-center">
                    <div>
                        <img class="xl:w-[20rem] 2xl:w-[26rem]" src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEUVfsoxzmR29Locn9wo0obCd7519XTvOS8jYAUj2nv1Y6XPRFh9zDM4FqWXN7eoq0R37mzFTaKF0hPGfmq0eXO5ro5xPdgqU5uJiCVkk1UTAEei1Z45EI6QLMKOj%2Fslqy%2F0qnr5AfyO2oDlRMDw2Rq7CeXY2vhSd5Tx%2BblAlnmJUNzwDXzF0Dt%2FYV3F3y9mYvCmH2IvRQALfQTMsjhbq2iJcrAhkLT3jufgg1ymU0TtOhjNhz6KGoZ6VvTpTRbvz0Rea6NZcgiOI0nWE5aZSdqvJ50Dx7tRGNl7XqBPsu4ajDOCFXOjsCbltsWwyexS2KQ%2BLHifQCB4RnH5qYCgMj6TD2Q6sr4MKpfA0zHfbpc1F18LHgXVY8vosgo%2BUciZj6Ysz5L%2BeDE70dr7YpjPEa4%3D&sz=w512" alt="">
                    </div>
                    <div>
                        <p class="text-white text-3xl font-semibold" >Nome</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div>
                        <img class="xl:w-[20rem] 2xl:w-[26rem]" src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEUVfsoxzmR29Locn9wo0obCd7519XTvOS8jYAUj2nv1Y6XPRFh9zDM4FqWXN7eoq0R37mzFTaKF0hPGfmq0eXO5ro5xPdgqU5uJiCVkk1UTAEei1Z45EI6QLMKOj%2Fslqy%2F0qnr5AfyO2oDlRMDw2Rq7CeXY2vhSd5Tx%2BblAlnmJUNzwDXzF0Dt%2FYV3F3y9mYvCmH2IvRQALfQTMsjhbq2iJcrAhkLT3jufgg1ymU0TtOhjNhz6KGoZ6VvTpTRbvz0Rea6NZcgiOI0nWE5aZSdqvJ50Dx7tRGNl7XqBPsu4ajDOCFXOjsCbltsWwyexS2KQ%2BLHifQCB4RnH5qYCgMj6TD2Q6sr4MKpfA0zHfbpc1F18LHgXVY8vosgo%2BUciZj6Ysz5L%2BeDE70dr7YpjPEa4%3D&sz=w512" alt="">
                    </div>
                    <div>
                        <p class="text-white text-3xl font-semibold" >Nome</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div>
                        <img class="xl:w-[20rem] 2xl:w-[26rem]" src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEUVfsoxzmR29Locn9wo0obCd7519XTvOS8jYAUj2nv1Y6XPRFh9zDM4FqWXN7eoq0R37mzFTaKF0hPGfmq0eXO5ro5xPdgqU5uJiCVkk1UTAEei1Z45EI6QLMKOj%2Fslqy%2F0qnr5AfyO2oDlRMDw2Rq7CeXY2vhSd5Tx%2BblAlnmJUNzwDXzF0Dt%2FYV3F3y9mYvCmH2IvRQALfQTMsjhbq2iJcrAhkLT3jufgg1ymU0TtOhjNhz6KGoZ6VvTpTRbvz0Rea6NZcgiOI0nWE5aZSdqvJ50Dx7tRGNl7XqBPsu4ajDOCFXOjsCbltsWwyexS2KQ%2BLHifQCB4RnH5qYCgMj6TD2Q6sr4MKpfA0zHfbpc1F18LHgXVY8vosgo%2BUciZj6Ysz5L%2BeDE70dr7YpjPEa4%3D&sz=w512" alt="">
                    </div>
                    <div>
                        <p class="text-white text-3xl font-semibold" >Nome</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div>
                        <img class="xl:w-[20rem] 2xl:w-[26rem]" src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEUVfsoxzmR29Locn9wo0obCd7519XTvOS8jYAUj2nv1Y6XPRFh9zDM4FqWXN7eoq0R37mzFTaKF0hPGfmq0eXO5ro5xPdgqU5uJiCVkk1UTAEei1Z45EI6QLMKOj%2Fslqy%2F0qnr5AfyO2oDlRMDw2Rq7CeXY2vhSd5Tx%2BblAlnmJUNzwDXzF0Dt%2FYV3F3y9mYvCmH2IvRQALfQTMsjhbq2iJcrAhkLT3jufgg1ymU0TtOhjNhz6KGoZ6VvTpTRbvz0Rea6NZcgiOI0nWE5aZSdqvJ50Dx7tRGNl7XqBPsu4ajDOCFXOjsCbltsWwyexS2KQ%2BLHifQCB4RnH5qYCgMj6TD2Q6sr4MKpfA0zHfbpc1F18LHgXVY8vosgo%2BUciZj6Ysz5L%2BeDE70dr7YpjPEa4%3D&sz=w512" alt="">
                    </div>
                    <div>
                        <p class="text-white text-3xl font-semibold" >Nome</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div>
                        <img class="xl:w-[20rem] 2xl:w-[26rem]" src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEUVfsoxzmR29Locn9wo0obCd7519XTvOS8jYAUj2nv1Y6XPRFh9zDM4FqWXN7eoq0R37mzFTaKF0hPGfmq0eXO5ro5xPdgqU5uJiCVkk1UTAEei1Z45EI6QLMKOj%2Fslqy%2F0qnr5AfyO2oDlRMDw2Rq7CeXY2vhSd5Tx%2BblAlnmJUNzwDXzF0Dt%2FYV3F3y9mYvCmH2IvRQALfQTMsjhbq2iJcrAhkLT3jufgg1ymU0TtOhjNhz6KGoZ6VvTpTRbvz0Rea6NZcgiOI0nWE5aZSdqvJ50Dx7tRGNl7XqBPsu4ajDOCFXOjsCbltsWwyexS2KQ%2BLHifQCB4RnH5qYCgMj6TD2Q6sr4MKpfA0zHfbpc1F18LHgXVY8vosgo%2BUciZj6Ysz5L%2BeDE70dr7YpjPEa4%3D&sz=w512" alt="">
                    </div>
                    <div>
                        <p class="text-white text-3xl font-semibold" >Nome</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div>
                        <img class="xl:w-[20rem] 2xl:w-[26rem]" src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEUVfsoxzmR29Locn9wo0obCd7519XTvOS8jYAUj2nv1Y6XPRFh9zDM4FqWXN7eoq0R37mzFTaKF0hPGfmq0eXO5ro5xPdgqU5uJiCVkk1UTAEei1Z45EI6QLMKOj%2Fslqy%2F0qnr5AfyO2oDlRMDw2Rq7CeXY2vhSd5Tx%2BblAlnmJUNzwDXzF0Dt%2FYV3F3y9mYvCmH2IvRQALfQTMsjhbq2iJcrAhkLT3jufgg1ymU0TtOhjNhz6KGoZ6VvTpTRbvz0Rea6NZcgiOI0nWE5aZSdqvJ50Dx7tRGNl7XqBPsu4ajDOCFXOjsCbltsWwyexS2KQ%2BLHifQCB4RnH5qYCgMj6TD2Q6sr4MKpfA0zHfbpc1F18LHgXVY8vosgo%2BUciZj6Ysz5L%2BeDE70dr7YpjPEa4%3D&sz=w512" alt="">
                    </div>
                    <div>
                        <p class="text-white text-3xl font-semibold" >Nome</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div>
                        <img class="xl:w-[20rem] 2xl:w-[26rem]" src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEUVfsoxzmR29Locn9wo0obCd7519XTvOS8jYAUj2nv1Y6XPRFh9zDM4FqWXN7eoq0R37mzFTaKF0hPGfmq0eXO5ro5xPdgqU5uJiCVkk1UTAEei1Z45EI6QLMKOj%2Fslqy%2F0qnr5AfyO2oDlRMDw2Rq7CeXY2vhSd5Tx%2BblAlnmJUNzwDXzF0Dt%2FYV3F3y9mYvCmH2IvRQALfQTMsjhbq2iJcrAhkLT3jufgg1ymU0TtOhjNhz6KGoZ6VvTpTRbvz0Rea6NZcgiOI0nWE5aZSdqvJ50Dx7tRGNl7XqBPsu4ajDOCFXOjsCbltsWwyexS2KQ%2BLHifQCB4RnH5qYCgMj6TD2Q6sr4MKpfA0zHfbpc1F18LHgXVY8vosgo%2BUciZj6Ysz5L%2BeDE70dr7YpjPEa4%3D&sz=w512" alt="">
                    </div>
                    <div>
                        <p class="text-white text-3xl font-semibold" >Nome</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div>
                        <img class="xl:w-[20rem] 2xl:w-[26rem]" src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEUVfsoxzmR29Locn9wo0obCd7519XTvOS8jYAUj2nv1Y6XPRFh9zDM4FqWXN7eoq0R37mzFTaKF0hPGfmq0eXO5ro5xPdgqU5uJiCVkk1UTAEei1Z45EI6QLMKOj%2Fslqy%2F0qnr5AfyO2oDlRMDw2Rq7CeXY2vhSd5Tx%2BblAlnmJUNzwDXzF0Dt%2FYV3F3y9mYvCmH2IvRQALfQTMsjhbq2iJcrAhkLT3jufgg1ymU0TtOhjNhz6KGoZ6VvTpTRbvz0Rea6NZcgiOI0nWE5aZSdqvJ50Dx7tRGNl7XqBPsu4ajDOCFXOjsCbltsWwyexS2KQ%2BLHifQCB4RnH5qYCgMj6TD2Q6sr4MKpfA0zHfbpc1F18LHgXVY8vosgo%2BUciZj6Ysz5L%2BeDE70dr7YpjPEa4%3D&sz=w512" alt="">
                    </div>
                    <div>
                        <p class="text-white text-3xl font-semibold" >Nome</p>
                    </div>
                </div>

                <div class="flex flex-col items-center">
                    <div>
                        <img class="xl:w-[20rem] 2xl:w-[26rem]" src="https://chat.google.com/u/0/api/get_attachment_url?url_type=FIFE_URL&content_type=image%2Fpng&attachment_token=AOo0EEUVfsoxzmR29Locn9wo0obCd7519XTvOS8jYAUj2nv1Y6XPRFh9zDM4FqWXN7eoq0R37mzFTaKF0hPGfmq0eXO5ro5xPdgqU5uJiCVkk1UTAEei1Z45EI6QLMKOj%2Fslqy%2F0qnr5AfyO2oDlRMDw2Rq7CeXY2vhSd5Tx%2BblAlnmJUNzwDXzF0Dt%2FYV3F3y9mYvCmH2IvRQALfQTMsjhbq2iJcrAhkLT3jufgg1ymU0TtOhjNhz6KGoZ6VvTpTRbvz0Rea6NZcgiOI0nWE5aZSdqvJ50Dx7tRGNl7XqBPsu4ajDOCFXOjsCbltsWwyexS2KQ%2BLHifQCB4RnH5qYCgMj6TD2Q6sr4MKpfA0zHfbpc1F18LHgXVY8vosgo%2BUciZj6Ysz5L%2BeDE70dr7YpjPEa4%3D&sz=w512" alt="">
                    </div>
                    <div>
                        <p class="text-white text-3xl font-semibold" >Nome</p>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div>
